* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

.nav-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.nav-container img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.text {
    font-size: 25px;
    font-family: monospace;
    font-style: oblique;
    margin-top: 15px;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.texto h2 {
    font-size: 40px;
    text-align: center;
}

.texto p {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}

.images-bike {
    display: flex;
    justify-content: center;
}

.images-bike img {
    width: 300px;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.botones-cerrar {
    display: flex;
    justify-content: space-around;
}

.botones-cerrar img {
    width: 50px;
}

.text-description {
    display: flex;
    justify-content: space-around;
}

.text-description h3 {
    font-size: 20px;
}

.line {
    display: flex;
    justify-content: center;
}

.line img {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 30px;
}

.textfinal-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.textfinal-container h6 {
    font-size: 20px ;
    text-align: center;
}
.textfinal-container p {
    font-size: 15px;
    text-align: center;
}

.footer {
    font-size: 20px;
    text-align: center;
    margin-top: 200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width: 480px) {
    body {
        background-color: beige;
    }
}